  <div class="card w-100 h-100 m-2 h-auto bet-card" data-controller="bets modal-url-binder clipboard"
    data-id="<%= bet.id %>" id="bet-<%= bet.id %>">

    <%= render "bets/card", bet: bet, validity: Validity.new, feeling: Feeling.new %>
    <%= render layout: "shared/modal_partial", locals: { modal_id: "modal_#{bet.id}" } do %>
      <%= render "bets/card", bet: bet, validity: Validity.new, feeling: Feeling.new %>

    <% end %>
  </div>
