  <div class="card-body d-flex flex-column justify-content-between">
    <p class="card-title">
      <%= bet.title %>
    </p>
    <p>
      <small>End date:</small>
      <%= bet.end_date %>
    </p>
    <p>
      <small>End votes date:</small>
      <%= bet.end_votes_date %>
    </p>
    <% bet.tags.each do |tag| %>
      <span class="badge badge-pill badge-secondary m-1"><%= tag.name %></span>
    <% end %>
  </div>
  <% unless user_signed_in? %>
    <%= link_to "Participate", new_user_session_path, class: "btn btn-primary" %>
  <% end %>

  <% if user_signed_in? && (bet.status == Bet::UNVALIDATED && !bet.validity_voted_for(current_user)) %>
    <%= render "bets/unvalidated_unvoted", bet: bet, validity: validity, cached: true%>
  <% elsif user_signed_in? &&  (bet.status == Bet::UNVALIDATED || bet.status == Bet::INVALID )%>
    <%= render "bets/unvalidated_voted", bet: bet, cached: true %>
  <% elsif user_signed_in? && ( bet.status == Bet::VALID && !bet.feeling_voted_for(current_user) ) %>
    <%= render "bets/validated_unvoted", bet: bet, feeling: feeling, cached: true %>
  <% elsif user_signed_in? && bet.feeling_voted_for(current_user) && bet.status != Bet::DATE_PASSED   %>
    <%= render "bets/validated_voted", bet: bet, cached: true %>
  <% end %>
  <% if bet.status == Bet::DATE_PASSED %>
    <%= render "bets/date_passed", bet: bet, cached: true %>
  <% elsif user_signed_in? && bet.feeling_voted_for(current_user)  %>
    <%= render "bets/happened_or_not", bet: bet, cached: true %>
  <% end %>
<% if Rails.env.development? %>
 <strong> <%= bet.status %> </strong>
<% end %>

<% if user_signed_in? && @tracked_bets.detect{|b| b == bet} %>
  <button data-action="click->bets#submit_track" class="btn btn-sm btn-danger"> Untrack it </button>
<% elsif user_signed_in? %>
  <button data-action="click->bets#submit_track" class="btn btn-sm btn-light"> Track it </button>
<% end %>

<div class="pull-right">
  <i class="fas fa-share-alt float-right m-1 text-muted small"  data-toggle="modal" data-target="#modal_<%= bet.id %>">
    share
  </i>
</div>
