<div class="d-flex flex-column justify-content-around">
  <%= render "bets/average", bet: bet%>

  <% if user_signed_in? && current_user == bet.user %>
    <%#= simple_form_for bet do |f| %>
      <%#= f.input :status, input_html: { value:  Bet::HAPPENED }, as: :hidden %>
      <%#= f.button :submit, "HAPPENED",class: "btn btn-light btn-sm" %>
    <%# end %>
    <%#= simple_form_for bet do |f| %>
      <%#= f.input :status, input_html: { value:  Bet::NOT_HAPPENED }, as: :hidden %>
      <%#= f.button :submit, "DID NOT HAPPENED",class: "btn btn-light btn-sm" %>
    <%# end %>
  <div class="d-flex justify-content-around p-2"">
    <button class="btn btn-sm btn-light" data-action="click->bets#submit_happening" data-happening="<%= Bet::HAPPENED %>"> Happened </button>
    <button class="btn btn-sm btn-light" data-action="click->bets#submit_happening" data-happening="<%= Bet::NOT_HAPPENED %>"> Didn't Happened </button>
  </div>
  <% else %>
    <span class="text-center"> Waiting for the creator to say wither it happened </span>
  <% end %>

</div>
