<%= simple_form_for(bet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" data-controller="new-bet">
    <%= f.input :title %>
    <%= f.input :end_date, as: :string, input_html: { data: { target: "new-bet.dateEvent"}} %>
    <%= f.input :end_votes_date, as: :string, input_html: { data: { target: "new-bet.dateVote"}} %>
    <div class="form-group select optional bet_tag_list">
      <%= label_tag "tag[tag_names]", "Add Tags" %>
      <%= select_tag "tag[tag_names]", options_from_collection_for_select(ActsAsTaggableOn::Tag.all.map{|t| [t.name,t.name] },
      :first, :last), multiple: true,
      class: 'select2 form-control select optional' %>
    </div>
    <%#= f.input :tag_list, collection: ActsAsTaggableOn::Tag.all.map(&:name), input_html: {class: "select2"}, multiple: true%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
