<div class="d-flex justify-content-around p-2">
  <button class="btn btn-sm <%= bet.validity_voted_for(current_user).up_vote ? 'btn-primary' : 'btn-light' %>" disabled > Makes Sense - <%= bet.validities.count{|v| v.up_vote}  %> </button>
  <button class="btn btn-sm <%= !bet.validity_voted_for(current_user).up_vote ? 'btn-primary' : 'btn-light' %>" disabled > Not Valid - <%= bet.validities.count{|v| !v.up_vote} %> </button>

</div>

<%#
    bubble_series = []
    array_a = bet.validities.where(up_vote: true).group_by_day(:created_at).count.map(&:to_a)
    array_b = bet.validities.where(up_vote: false).group_by_day(:created_at).count.map(&:to_a)
    bubble_series << { name: "Voted For", data: array_a.map{|sub_array| [sub_array[0], 1, sub_array[1]]} }
   bubble_series <<  { name: "Voted Agains", data: array_b.map{|sub_array| [sub_array[0], -1, sub_array[1]] } }
 %>
<%#= bubble_chart(bubble_series, data_labels: true) %>
