<% unless validity.errors.messages.empty? %>
 <div class="d-flex justify-content-center">
  <span class="text-center alert alert-warning alert-dismissible ">
    <%= validity.errors.messages.to_a.flatten.join(" ") %>
  </span>
</div>
<% end %>
<div class="d-flex justify-content-around p-2">
  <span class="btn w-50 btn-light" data-action="click->bets#submit_validity" data-valid="true"> Valid Prognostic </span>
  <span class="btn w-50 btn-light" data-action="click->bets#submit_validity" data-valid="false"> not really valid </span>
</div>
