<div class="text-center"><%= bet.feeling_voted_for(current_user).weight_certainty %>% sure</div>
<div class="d-flex flex-column justify-content-around p-2">
    <input class="mb-2 form-control-range" type="range" id="vol" name="vol" min="0" max="100" value="<%= bet.feeling_voted_for(current_user).weight_certainty %>" disabled>
    <%= render "bets/average", bet: bet%>
</div>
