<% unless feeling.errors.messages.empty? %>
 <div class="d-flex justify-content-center">
  <span class="text-center alert alert-warning alert-dismissible ">
    <%= feeling.errors.messages.to_a.flatten.join(" ") %>
  </span>
</div>
<% end %>
<div class="text-center" id="feeling-bet-<%= bet.id %>" data-target="bets.feeling">50% sure</div>
<div class="d-flex flex-column justify-content-around p-2">
    <input class="mb-2" type="range" id="vol" name="vol" data-action="change->bets#change_feeling" min="0" max="100" value="50">
    <button class="btn  btn-light" disabled data-target="bets.btnFeeling" data-action="click->bets#submit_feeling" data-valid="false"> ready </button>

</div>
