<p id="notice"><%= notice %></p>
<div class="container" data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll" >
  <div class="text-center">
    <h1>Bets</h1>
    <small> here is the future we see </small>
  </div>
  <div>
    <%= simple_form_for :bet_query, url: bets_path, method: 'GET' do |f| %>
        <%= f.input :search, input_html: {  data: { controller: "auto-send" , action: "auto-send#send"}, value: params.dig(:bet_query, :search) } %>
        <div class="d-flex justify-content-around">
          <div class="form-group" >
            <%= f.input :reset_filter, label: "", required: false, as: :radio_buttons, collection: ['reset'],  input_html: {  data: { controller: "auto-send" , action: "auto-send#send"}, class: 'tag-selector' },
                  item_wrapper_class: 'tag-item' %>
          </div>
          <div class="form-group" >
            <%= f.input :status, label: "", required: false, as: :radio_buttons, collection: Bet::STATI_DISPLAY,  input_html: {  data: { controller: "auto-send" , action: "auto-send#send"}, class: 'tag-selector' }, checked: params.dig(:bet_query, :status),
                  item_wrapper_class: 'tag-item' %>
          </div>
          <div class="form-group" >
            <%= f.input :sort_by, label: "", required: false, as: :radio_buttons, collection: Bet::SORT_FILTER_DISPLAY,  input_html: {  data: { controller: "auto-send" , action: "auto-send#send"}, class: 'tag-selector' }, checked: params.dig(:bet_query, :sort_by),
                  item_wrapper_class: 'tag-item' %>
         </div>

        <% if current_user %>
          <%= f.input :votes_filter, collection: Bet::VOTES_FILTER_DISPLAY, label_method: :first, input_method: :last, input_html: {  data: { controller: "auto-send" , action: "auto-send#send"}, class: "form-check-input check_boxes optional tag-selector tag-selector" }, checked: params.dig(:bet_query, :votes_filter), as: :check_boxes, include_blank: false, label: "", required: false %>
          <!--  <fieldset class="form-group check_boxes optional " >
            <%# Bet::VOTES_FILTER_DISPLAY.each do |choice| %>
              <div class="tag-item">
                <%#= check_box_tag("bet_query[votes_filter][#{choice.last}]", choice.last, params[:bet_query] && params[:bet_query][:votes_filter] && params[:bet_query][:votes_filter].values.include?(choice.last), {  data: { controller: "auto-send" , action: "auto-send#send"}, class: "form-check-input check_boxes optional tag-selector tag-selector" }) %>
                <%#= label_tag("bet_query[votes_filter][#{choice}]", choice.first, class: "form-check-label collection_check_boxes") %>
              </div>
            <%# end %>
            <%#= f.input :votes_filter, label: "", required: false, as: :check_boxes, collection: Bet::VOTES_FILTER.map{|b| [b, b]},  input_html: {  data: { controller: "auto-send" , action: "auto-send#send"} } %>
          </fieldset> -->
        <% end %>
      </div>
    <% end %>
</div>
  <div class="row row-cols-lg-6 row-cols-md-4 row-cols-sm-12 justify-content-center" data-target="infinite-scroll.entries">
    <%= render "bets/bets", bets: @bets %>
  </div>
  <div data-target="infinite-scroll.pagination" class="sr-only">
    <%== pagy_nav(@pagy) %>
  </div>
</div>
