<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bet.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bet.status %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bet.end_date %>
</p>

<p>
  <strong>End votes date:</strong>
  <%= @bet.end_votes_date %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
