<div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
  data-backdrop="static"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="pull-right">
        <i class="fas fa-times float-right m-1" data-dismiss="modal"></i>
      </div>
      <div class="modal-body">
        <%= yield %>
      </div>
      <div class="modal-footer">
        <div>
          url: <input data-target="modal-url-binder.source" type="text" value="1234" readonly>
          <button class="btn btn-light" data-action="modal-url-binder#copy">Copy</button>
        </div>

      </div>
    </div>
  </div>
</div>
