<div class="container" data-controller="dashboard">
  <div class="d-flex w-100 my-3 justify-center">
    <h2 class="w-100 text-center"> Your Brier Score: <b class="badge badge-primary rounded-pill"><%= current_user.score.brier_score %> </b></h2>
  </div>  

  <% cache [@current_user_feelings ] do %>
    <div data-target="dashboard.chartFeelings"
         data-set="<%= @current_user_feelings.map{|f| {x: f.created_at, y: f.weight_certainty, title: f.bet.title }  }.to_json %>"
         data-set-feelings-success="<%= @current_user_feelings.select(&:win_feeling).map{|feeling| { x: feeling.created_at.to_s,y:  feeling.weight_certainty, title: feeling.bet.title }}.to_json %>"
         data-set-feelings-failure="<%= @current_user_feelings.select{|f| !f.win_feeling}.map{|feeling| { x: feeling.created_at.to_s,y:  feeling.weight_certainty, title: feeling.bet.title }}.to_json %>"
         data-set-feelings-unknown="<%= @current_user_feelings.select{|f| f.win_feeling.nil? }.map{|feeling| { x: feeling.created_at.to_s,y:  feeling.weight_certainty, title: feeling.bet.title }}.to_json %>"
        class="my-3"
    ></div>
  <% end %>

  <div data-controller="toggle" >
    <span class="d-flex" data-action="click->toggle#toggle" role="button">
      <h2> Predictions you've created</h2>
      <i class="fas fa-plus-square ml-1" data-target="toggle.item" style="transform: translateY(25%);"></i> <i class="fas fa-minus-square d-none ml-1" data-target="toggle.item" style="transform: translateY(25%);"></i> 
    </span>
        <div class="row row-cols-md-6 row-cols-sm-12 d-none" data-target="toggle.item" >
          <%= render "bets/bets", bets: @current_user_bets, cached: true %>
        </div>
    <br>
  </div>


  <div data-controller="toggle">
    <span class="d-flex" role="button" data-action="click->toggle#toggle" role="button">
      <h2> Predictions for which you casted a vote</h2>
      <i class="fas fa-plus-square ml-1" data-target="toggle.item" style="transform: translateY(25%);"></i> <i class="fas fa-minus-square d-none ml-1" data-target="toggle.item" style="transform: translateY(25%);"></i> 
    </span>  
    <div class="row row-cols-md-6 row-cols-sm-12 d-none" data-target="toggle.item" >
      <%= render "bets/bets", bets: @current_user_feelings_bets, cached: true %>
    </div>
    <br>
  </div>

  <div data-controller="toggle">
    <span class="d-flex" data-action="click->toggle#toggle" role="button">
      <h2> Predictions that you've validated ( or unvalidated)</h2>
      <i class="fas fa-plus-square ml-1" data-target="toggle.item" style="transform: translateY(25%);"></i> <i class="fas fa-minus-square d-none ml-1" data-target="toggle.item" style="transform: translateY(25%);"></i> 
    </span>  
     <div class="row row-cols-md-6 row-cols-sm-12 d-none" data-target="toggle.item" >
        <%= render "bets/bets", bets: @current_user_validities_bets, cached: true %>
    </div>
    <br>
  </div>

</div>
