<div class="container">
	<h1><b>The Rules</b></h1>
	<h2> Life cycle of a prognostic: </h2>
  <div class="row">
		<ol >
			<li class="my-1">A user creates a prognostic</li>
			<li class="my-1">People give their opinion on wither it's a valid </li>
			<li class="my-1">A week later, the majority decision is confirmed </li>
			<li class="my-1">If valid, people start saying wither they think the prognostic will happen or not</li>
			<li class="my-1">On the date chosen by the prognostic's creator, the votes stop </li>
			<li class="my-1">After the date the event might have happened, the prognostic's creator tell the app wither it happened </li>
			<li class="my-1">Then a new Brier Score for the users is computed </li> 
			<li class="my-1">Everyday you get more points to spend on predictions </li> 

		</ol>
	</div>
</div>
