.bet-card {
  border-radius: 5%;
  -moz-box-shadow:    3px 2px 0px 0px #ccc;
  -webkit-box-shadow: 3px 2px 0px 0px #ccc;
  box-shadow:         3px 2px 0px 0px #ccc;
  p {
      flex: 1;
      min-width: 0;
      margin-right: auto;
      color: gray;
  }
  .card-title {
    color: black;
  }
  .alert{
    max-height: 20%;
    position: inherit;
  }
}
